<div class="banner">
  <div class="main">
    <h2 style="margin-bottom: 0;">
      {{'ACNEMISCONCEPTION.headline' | translate}}
    </h2>
  </div>
</div>
<div class="main" style="padding-bottom: 40px;">
  <h2>
    {{'ACNEMISCONCEPTION.subhead' | translate}}
  </h2>
  <p>
    {{'ACNEMISCONCEPTION.read_each_statement_to_find_out' | translate}}
  </p>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_1.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_1' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p>
                {{'ACNEMISCONCEPTION.fact_1_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_2.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_2' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p>
                {{'ACNEMISCONCEPTION.fact_2_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_3.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_3' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p>
                {{'ACNEMISCONCEPTION.fact_3_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_4.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_4' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p [innerHTML]="'ACNEMISCONCEPTION.fact_4_text' | translate">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_5.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_5' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p [innerHTML]="'ACNEMISCONCEPTION.fact_5_text' | translate">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_6.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_6' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'true' | translate | uppercase}}</h1>
              <p [innerHTML]="'ACNEMISCONCEPTION.fact_6_text' | translate">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_7.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_7' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p>
                {{'ACNEMISCONCEPTION.fact_7_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_8.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_8' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p [innerHTML]="'ACNEMISCONCEPTION.fact_8_text' | translate">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/fact_9.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'ACNEMISCONCEPTION.fact_9' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'false' | translate | uppercase}}</h1>
              <p>
                {{'ACNEMISCONCEPTION.fact_9_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blue_button">
    <a [routerLink]="'.'" fragment="whatcanido">
      <div class="button">
        {{'ACNEMISCONCEPTION.so_how_did_you_do' | translate | uppercase}}
      </div>
    </a>
  </div>
</div>
