<div class="banner">
  <div class="main">
    <h1>
      {{'PRIVACYPOLICY.headline' | translate}}
    </h1>
  </div>
</div>
<div class="main">
  <h2>
    {{'PRIVACYPOLICY.subhead_1' | translate}}
  </h2>
  <ul [innerHTML]="'PRIVACYPOLICY.key_list' | translate">

  </ul>
  <h2>
    {{'PRIVACYPOLICY.subhead_2' | translate}}
  </h2>
  <p [innerHTML]="'PRIVACYPOLICY.sub_subhead_2' | translate">
  </p>
  <p [innerHTML]="'PRIVACYPOLICY.the_sites_purpose_is_to_provide' | translate">
  </p>
  <h2>
    {{'PRIVACYPOLICY.subhead_3' | translate}}
  </h2>
  <p>
    {{'PRIVACYPOLICY.this_website_is_intended_for_adult_use' | translate}}
  </p>
  <h2>
    {{'PRIVACYPOLICY.subhead_4' | translate}}
  </h2>
  <p>
    {{'PRIVACYPOLICY.we_may_periodically_update_this_privacy' | translate}}
  </p>
  <h2>
    {{'PRIVACYPOLICY.subhead_5' | translate}}
  </h2>
  <p>
    {{'PRIVACYPOLICY.we_intend_to_store_your_data' | translate}}
  </p>
  <h2>
    {{'PRIVACYPOLICY.subhead_6' | translate}}
  </h2>
  <p [innerHTML]="'PRIVACYPOLICY.we_work_with_third_party' | translate">
  </p>
  <h2>
    {{'PRIVACYPOLICY.subhead_7' | translate}}
  </h2>
  <p [innerHTML]="'PRIVACYPOLICY.you_are_entitled_at_any' | translate">
  </p>
  <h2>
    {{'PRIVACYPOLICY.subhead_8' | translate}}
  </h2>
  <p [innerHTML]="'PRIVACYPOLICY.please_contact_us' | translate">
  </p>
</div>
<div style="height: 30px;">
  &nbsp;
</div>
