<div class="banner">
  <div class="main">
    <h1>
      {{'COOKIEPOLICY.headline' | translate}}
    </h1>
  </div>
</div>
<div class="main">
  <h2>
    {{'COOKIEPOLICY.subhead_1' | translate}}
  </h2>
  <p [innerHTML]="'COOKIEPOLICY.subhead_1_copy' | translate"></p>
  <h2>
    {{'COOKIEPOLICY.subhead_2' | translate}}
  </h2>
  <p [innerHTML]="'COOKIEPOLICY.subhead_2_copy' | translate">
  </p>
  <h2>
    {{'COOKIEPOLICY.subhead_3' | translate}}
  </h2>
  <p>
    {{'COOKIEPOLICY.subhead_3_copy' | translate}}
  </p>
  <h2>
    {{'COOKIEPOLICY.subhead_4' | translate}}
  </h2>
  <p>
    {{'COOKIEPOLICY.subhead_4_copy' | translate}}
  </p>
  <h2>
    {{'COOKIEPOLICY.subhead_5' | translate}}
  </h2>
  <p>
    {{'COOKIEPOLICY.subhead_5_copy' | translate}}
  </p>

</div>
<div style="height: 30px;">
  &nbsp;
</div>
