<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="." inheritInChildApplications="false">

    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="3000000" maxQueryString="1024" maxUrl="2048">
            <headerLimits>
              <add header="Content-type" sizeLimit="100" />
              <add header="Content-Length" sizeLimit="100"/>
            </headerLimits>
          </requestLimits>

          <verbs allowUnlisted="false">
            <clear />
            <add verb="GET" allowed="true"/>
            <add verb="POST" allowed="true"/>
          </verbs>

        </requestFiltering>

      

      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Antibody.UnbrandedAcneMicrosite.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
  </system.webServer>

   

  </location>

  <system.applicationHost>
 <!--   <sites>
      <siteDefaults>
        <limits connectionTimeout="00:00:30" maxBandwidth="3000000" maxConnections="1024" maxUrlSegments="32"  />
      </siteDefaults>
    </sites>-->
    <webLimits connectionTimeout="00:00:30"
               headerWaitTimeout="00:00:30"
               minBytesPerSecond="400" 
               maxGlobalBandwidth="3000000"/>
  </system.applicationHost>


</configuration>
