
<div class="banner">
  <div class="main">
    <h1>
      {{'WHATISACNE.headline' | translate}}
    </h1>
    <p [innerHTML]="'WHATISACNE.acne_is_a_skin_condition' | translate">

    </p>
  </div>
</div>

<div class="main">
  <h2>
    {{'WHATISACNE.image_title_1' | translate}}
  </h2>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="container">
        <img src="../../assets/images/acne_1.png" alt="acne on face">
        <div class="d-flex pt-3">
          <div class="px-2">
            <h3 [innerHTML]="'WHATISACNE.92_%' | translate"></h3>
          </div>
          <div class="d-flex align-items-center">
            <p [innerHTML]="'WHATISACNE.acne_on_face'|translate">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="container">
        <img src="../../assets/images/acne_2.png" alt="acne on back">
        <div class="d-flex pt-3">
          <div class="px-2">
            <h3 [innerHTML]="'WHATISACNE.61_%' | translate"></h3>
          </div>
          <div class="d-flex align-items-center">
            <p [innerHTML]="'WHATISACNE.acne_on_back'|translate">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="container">
        <img src="../../assets/images/acne_3.png" alt="acne on chest">
        <div class="d-flex pt-3">
          <div class="px-2">
            <h3 [innerHTML]="'WHATISACNE.45_%' | translate"></h3>
          </div>
          <div class="d-flex align-items-center">
            <p [innerHTML]="'WHATISACNE.acne_on_chest'|translate">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>
    {{'WHATISACNE.image_title_2' | translate}}
  </h2>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="container">
        <img src="../../assets/images/acne_4.png" alt="mild acne">
        <div class="pt-3">
          <h4>
            {{'WHATISACNE.mild_acne' | translate}}
          </h4>
          <p>
            {{'WHATISACNE.mild_acne_text' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="container">
        <img src="../../assets/images/acne_5.png" alt="Moderate acne">
        <div class="pt-3">
          <h4>
            {{'WHATISACNE.moderate_acne' | translate}}
          </h4>
          <p>
            {{'WHATISACNE.moderate_acne_text' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="container">
        <img src="../../assets/images/acne_6.png" alt="Severe acne">
        <div class="pt-3">
          <h4>
            {{'WHATISACNE.severe_acne' | translate}}
          </h4>
          <p>
            {{'WHATISACNE.severe_acne_text' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="micetype">
    {{'WHATISACNE.image_micetype_1' | translate}}
  </div>
</div>

<div class="red_strip my-3">
  &nbsp;
</div>

<div class="main">
  <h2>
    {{'WHATISACNE.subhead_1' | translate}}
  </h2>
  <p [innerHTML]="'WHATISACNE.subhead_1_text' | translate">
  </p>
  <div class="blue_rounded_card">
    <div class="title">
      <h3>
        {{'WHATISACNE.quick_facts' | translate}}
      </h3>
    </div>
    <div class="text">
      <p style="font-size: 18px;" [innerHTML]="'WHATISACNE.quick_fact_text' | translate">
      </p>
    </div>
  </div>
  <div>
    <div class="row mt-4">
      <div class="col-lg-7 col-12">
        <p class="pt-3" [innerHTML]="'WHATISACNE.also_it_doesnt_matter' | translate">
        </p>
      </div>
      <div class="col-lg-1 col-12"></div>
      <div class="col-lg-4 col-12">
        <figure>
          <img src="../../assets/images/acne_7.png" alt="acne on face 3">
          <figcaption [innerHTML]="'WHATISACNE.image_micetype_2' | translate">
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="red_strip my-3">
  &nbsp;
</div>

<div class="main">
  <h2>
    {{'WHATISACNE.subhead_2' | translate}}
  </h2>
  <div class="row action_row">
    <div class="col-12 col-lg-4">
      <div class="action_image" style="background-image: url('../../assets/images/action_1.png');">
        <div class="transparent_blue"></div>
      </div>
      <div>
        <p>
          {{'WHATISACNE.action_1' | translate}}
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="action_image" style="background-image: url('../../assets/images/action_2.png');">
        <div class="transparent_blue"></div>
      </div>
      <div>
        <p>
          {{'WHATISACNE.action_2' | translate}}
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="action_image" style="background-image: url('../../assets/images/action_3.png');">
        <div class="transparent_blue"></div>
      </div>
      <div>
        <p [innerHTML]="'WHATISACNE.action_3' | translate">
        </p>
      </div>
    </div>
  </div>
</div>

<div class="red_strip my-3">
  &nbsp;
</div>

<div class="main">
  <h2>
    {{'WHATISACNE.subhead_3' | translate}}
  </h2>
  <p>
    {{'WHATISACNE.subhead_3_text' | translate}}
  </p>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row divCheckBox">
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.attractive' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="-1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.sociable' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="-1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.ugly' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.depressed' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.anxious' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.outgoing' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="-1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.frustrated' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.self_conscious' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.happy' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="-1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6">
          <label class="checkbox_container">{{'WHATISACNE.indifferent' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="0">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-6" style="border: none;">
          <label class="checkbox_container">{{'WHATISACNE.isolated' | translate}}
            <input type="checkbox" (change)="calucateScore($event)" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="canvas">
        <img *ngIf="score < 0" src="../../assets/images/happy face.svg" alt="Happy Face">
        <img *ngIf="score == 0" src="../../assets/images/serious face.svg" alt="Serious Face">
        <img *ngIf="score > 0" src="../../assets/images/sad face.svg" alt="Sad Face">

        <!-- <div class="happyface" [hidden]="isSadFace">
          <div class="eyes">
            <div id="lefteye" class="eye lefteye"></div>
            <div class="eye righteye"></div>
          </div>
          <div class="mouth"></div>
        </div>
        <div class="sadface" [hidden]="!isSadFace">
          <div class="eyes">
            <div id="lefteye" class="eye lefteye"></div>
            <div id="righteye" class="eye righteye"></div>
          </div>
          <div class="mouth"></div>
        </div> -->
        <!-- <svg class="smiley" width="256" height="256" viewBox="0 0 256 256">
          <circle class="face" cx="128" cy="128" r="120" />
          <path id='lefteye' class="eye lefteye" d="M60,100 a1,0.9 0 0,1 40,0" />
          <path class="eye right" d="M160,100 a1,0.9 0 0,1 40,0" />
          <path class="eye" d="M60,100 Q85,80 100,100" />
          <path class="mouth" d="M70,155 Q130,195 190,155" />
        </svg> -->

      </div>
    </div>
  </div>
  <div class="blue_rounded_card" style="padding:30px 0px;">
    <div class="title">
      <h3>
        {{'WHATISACNE.never_give_up' | translate}}
      </h3>
    </div>
    <div class="text">
      <p>
        {{'WHATISACNE.never_give_up_text' | translate}}
      </p>
    </div>
  </div>
</div>

<div class="red_strip my-3">
  &nbsp;
</div>

<div class="main" style="padding-bottom: 40px;">
  <h2>
    {{'WHATISACNE.subhead_4' | translate}}
  </h2>
  <p>
    {{'WHATISACNE.subhead_4_text' | translate}}
  </p>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/trigger_1.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'WHATISACNE.cosmetics' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'WHATISACNE.cosmetics' | translate}}</h1>
              <p>
                {{'WHATISACNE.cosmetics_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/trigger_2.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'WHATISACNE.pressure_and_friction_on_the_skin' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'WHATISACNE.pressure_and_friction_on_the_skin' | translate}}</h1>
              <p>
                {{'WHATISACNE.pressure_and_friction_on_the_skin_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/trigger_3.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'WHATISACNE.sweating' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'WHATISACNE.sweating' | translate}}</h1>
              <p>
                {{'WHATISACNE.sweating_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/trigger_4.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'WHATISACNE.genetics' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'WHATISACNE.genetics' | translate}}</h1>
              <p>
                {{'WHATISACNE.genetics_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/trigger_5.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'WHATISACNE.medications' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'WHATISACNE.medications' | translate}}</h1>
              <p>
                {{'WHATISACNE.medications_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="flip_card" style="background-image: url('../../assets/images/trigger_6.png');"
        (click)="flipcard($event)">
        <div class="flip_card_inner">
          <div class="flip_card_font">
            <h1>
              {{'WHATISACNE.stress' | translate}}
            </h1>
          </div>
          <div class="flip_card_back">
            <div>
              <h1>{{'WHATISACNE.stress' | translate}}</h1>
              <p>
                {{'WHATISACNE.stress_text' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
